{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]--[local]--[hash:base64:5]",
        "webpackHotModuleReloading": true
      }
    ]
  ]
}
