@custom-media --tablet (min-width: 35em);
@custom-media --desktop (min-width: 50em);

.input {
  display: block;
  font: var(--font-ui);
  padding-top: 0.5em;
  width: 100%;
  line-height: 1.25;
  color: inherit;
  background: transparent;
  outline: none;
  margin: 0;
  box-shadow: none;
  border: none;
}

.input--textarea {
  width: 100%;
  max-height: 30rem;
  resize: none !important;
}

.label {
  display: block;
  font: var(--font-ui);
  font-size: var(--scale-00);
  color: var(--color-grey-700);
}

.status {
  display: block;
  font: var(--font-ui);
  font-size: var(--scale-00);
  opacity: 0;
  color: transparent;
  transition: all 300ms ease;
  &::before {
    display: block;
    height: 0;
    overflow: visible;
  }
}

[required]:valid ~ .status {
  opacity: 1;
  color: var(--color-green);
  &::before {
    content: attr(data-valid-message);
  }
}

[data-submitted="true"] *:invalid ~ .status {
  opacity: 1;
  color: var(--color-red);
  &::before {
    content: attr(data-invalid-message);
  }
}
